@font-face {
    font-family: 'B Nazanin';
    src: url('./fonts/BNazanin.woff2') format('woff2'),
        url('./fonts/BNazanin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'B Nazanin', sans-serif;
}

p
{
    font-weight: 300;
    color: white;
}

body
{
    min-height: 1000px;
}

.banner
{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(./images/mainBanner.jpg);
    background-size: cover;
}

.banner .content
{
    max-width: 900px;
    text-align: center;
}

.banner .content h2
{
    font-size: 3em;
    color: white;
}

.banner .content p
{
    font-size: 1em;
    color: white;
}

.mainButton
{
    font-size: 2em;
    color: white;
    background: darkgreen;
    display: inline-block;
    padding: 10px 30px;
    margin-top: 20px;
    text-decoration: none;
    
    border-style: dashed;
    border-radius: 7px;
    
    transition: 0.5s;
}
.mainButton:hover
{
    border-style: groove;
    border-radius: 15px;
    border-color: yellow;

    background-color: darkred;
}
.mainButton:active
{
    border-style: double;
    border-radius: 20px;
    border-color: red;

    transition: 0.05s;

    background-color: yellow;
    color: black;
}

header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 10000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    transition: 0.5s;


}

header .logo
{
    color: white;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
}

header .logo span
{
    color: red;
}

header .navMenu
{
    position: relative;
    display: flex;

}

header .navMenu li
{
    list-style: none;
    margin-left: 35px;
}

header .navMenu li a
{
    text-decoration: none;
    color: white;
    font-weight: 350;
    font-size: 1.5em;
}
